# This file contains pin mappings for Adventurer 3 and MonoPrice Voxel boards with TMC2209 drivers.
# There may be versions of this board that require slight modifications to the config.
# To use this config, the firmware should be compiled for the STMicroelectronics STM32,
# Processor model STM32F103, Clock Reference 12 MHz crystal, Serial on USART1 PA10/PA9.
# To use an external host such as an RPi you must modify your main board as described here:
# https://github.com/VioSynthax/Adventurer-Voxel-Klipper

# See docs/Config_Reference.md for a description of parameters.

[stepper_x]
step_pin: PB8
dir_pin: !PB9
enable_pin: !PB7
microsteps: 16
rotation_distance: 33.33
endstop_pin: ^PC14
position_endstop: 154
position_max: 154
homing_speed: 100

[stepper_y]
step_pin: PC1
dir_pin: PC2
enable_pin: !PC0
microsteps: 16
rotation_distance: 33.33
endstop_pin: ^PB3
position_endstop: 149
position_max: 149
homing_speed: 75

[stepper_z]
step_pin: PC8
dir_pin: !PC9
enable_pin: !PC7
microsteps: 16
rotation_distance: 6.25
endstop_pin: !PC13
#position_endstop: 153
position_max: 153
homing_speed: 30
second_homing_speed: 20
homing_retract_dist: 2

[extruder]
step_pin: PA1
dir_pin: PA2
enable_pin: !PA3
microsteps: 16
rotation_distance: 33.33
nozzle_diameter: 0.4
filament_diameter: 1.750
heater_pin: PA8
sensor_type: Generic 3950
sensor_pin: PA5
min_temp: 0
max_temp: 270
#ONLY turn these on for calibrating E-steps
min_extrude_temp: 0
max_extrude_only_distance: 200

[pause_resume]

[heater_bed]
heater_pin: PC6
sensor_type: Generic 3950
sensor_pin: PC4
min_temp: 0
max_temp: 110

#part cooling fan and heatbreak fan
[fan]
pin: PB10

#mainboard cooling fan
[controller_fan mainboard]
pin: PA4
heater: extruder, heater_bed

#chamber ventilation fan
[fan_generic chamber_fan]
pin: PB13

[output_pin led]
pin: PB12
value: 1

[mcu]
serial: /dev/ttyAMA0
baud: 250000
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 30
max_z_accel: 500

[homing_override]
axes: zxy
gcode:
 g28 z
 g28 x
 g28 y

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 5, 5
mesh_max: 150, 145
probe_count: 3, 3
fade_start: 1
fade_end: 10
fade_target: 0

[virtual_sdcard]
path: /home/pi/gcode_files

########################################
# TMC2209 configuration
########################################

[tmc2209 stepper_x]
uart_pin: PC10
select_pins: !PB0, !PB1, !PD1
run_current: 0.800
stealthchop_threshold: 0

[tmc2209 stepper_y]
uart_pin: PC10
select_pins: PB0, !PB1, !PD1
run_current: 0.800
stealthchop_threshold: 0

[tmc2209 stepper_z]
uart_pin: PC10
select_pins: !PB0, PB1, !PD1
run_current: 0.800
stealthchop_threshold: 0

[tmc2209 extruder]
uart_pin: PC10
select_pins: !PB0, PB1, PD1
run_current: 1.70

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 28.897
#*# pid_ki = 8.757
#*# pid_kd = 23.840
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 71.615
#*# pid_ki = 3.913
#*# pid_kd = 327.640
#*#
#*# [stepper_z]
#*# position_endstop = 151.535
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.60000, 0.709219, 0.925172
#*# 	0.541563, 0.641172, 0.821391
#*# 	0.325000, 0.593219, 0.746000
#*# tension = 0.2
#*# min_x = 5.0
#*# algo = lagrange
#*# y_count = 3
#*# mesh_y_pps = 2
#*# min_y = 5.0
#*# x_count = 3
#*# max_y = 145.0
#*# mesh_x_pps = 2
#*# max_x = 150.0
